@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Karla', sans-serif;
}


h1 {
    font-style: italic;
    font-weight: 800;
    /* color: #C22C12; */

}

h2 {
    font-weight: 800;
    color: #C22C12;
}

h4 {


    color: #C22C12;

    font-weight: 800;

}

h5 {
    /* color: #F1BB25; */
    /* color: blue; */
    font-weight: 800;

}

span {
    color: #C22C12;

}

li,
a {

    color: #F1BB25;
    font-weight: 800;

}

p {
    color: #F1BB25;

    font-weight: 600;

}




.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}